In [3]:
#iterative statements in python
for x in range(5,10):
    print("good morning")

good morning
good morning
good morning
good morning
good morning

In [7]:
a=[100,"vinod","kumar",200,20,"bhukya"] #list
for i in a:
    print(i)

100
vinod
kumar
200
20
bhukya

In [7]:
#for loops in strings
s="Python"
for i in range(len(s)):
    print(i,"==",s[i])

0 == P
1 == y
2 == t
3 == h
4 == o
5 == n

In [2]:
#for loops in numbers      ->range
# for i in range(Start,end-1)
for i in range(0,-10,-1):
    if i%1==0:
        print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [18]:
print(ord('A'))

65

In [28]:
for i in range(ord('A'),ord('D')):
        print(i)

65
66
67

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
n=int(input("n value: "))
print("Even numbers are: ")
for i in range(2,n+1,2):
    print(i)

n value: 20
Even numbers are:
2
4
6
8
10
12
14
16
18
20

In [5]:
n=int(input("n value: "))
print("Odd numbers are: ")
for i in range(1,n+1,2):
    print(i)

n value: 20
Odd numbers are:
1
3
5
7
9
11
13
15
17
19

In [3]:
n=int(input("n value: "))
for i in range(n,0,-1):
    print(i)

n value: 10
10
9
8
7
6
5
4
3
2
1

In [9]:
n=int(input("n value: "))
sum=0
for i in range(1,n+1):
    sum=sum+(i**2)
    print(f'Square of {i}: ',i**2)
# print("sum of squares : ",sum)

n value: 10
Square of 1:  1
Square of 2:  4
Square of 3:  9
Square of 4:  16
Square of 5:  25
Square of 6:  36
Square of 7:  49
Square of 8:  64
Square of 9:  81
Square of 10:  100

In [10]:
n=int(input("n value: "))
sum=0
for i in range(1,n+1):
    sum=sum+(i**3)
    print(f'cube of {i}: ',i**3)
print("sum is: ",sum)

n value: 3
cube of 1:  1
cube of 2:  8
cube of 3:  27
sum is:  36

In [6]:
n=int(input())
print(f"Table of {n}: " )
for i in range(1,11):
    print(n," x ",i," = ",n*i)

5
Table of 5:
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [8]:
n=int(input("Enter range: "))
sum=0
for i in range(1,n+1):
    sum+=i
print("Sum is : ",sum)

Enter range: 10
Sum is :  55

In [21]:
pro=1
n=int(input("product of number Range: "))
for i in range(1,n+1):
    pro=pro*i
print(f"Product is (OR) Factorial of {n} = ",pro)

product of number Range: 5
Product is (OR) Factorial of 5 :  120

In [24]:
n=int(input("Enter range: "))
m=int(input("Multiple Number: "))
print(f"Multiples of {m} upto {n} is : ")
for i in range(1,n+1):
    if i%m==0:
        print(i)

Enter range: 100
Multiple Number: 10
Multiples of 10 upto 100 is :
10
20
30
40
50
60
70
80
90
100

In [19]:
n=int(input("Enter range: "))
m1=int(input("Multiple Number1: "))
m2=int(input("Multiple Number2: "))
print(f"Multiples of {m1} and {m2} upto {n} is : ")
for i in range(1,n+1):
    if i%m1==0 and i%m2==0:
        print(i)

Enter range: 20
Multiple Number1: 3
Multiple Number2: 5
Multiples of 3 and 5 upto 20 is :
15

In [7]:
n=int(input("Enter range: "))
m1=int(input("Multiple Number1: "))
m2=int(input("Multiple Number2: "))
print(f"Multiples of {m1} and {m2} upto {n} is : ")
for i in range(1,n+1):
    if i%m1==0 and i%m2!=0:
        print(i)

Enter range: 50
Multiple Number1: 5
Multiple Number2: 10
Multiples of 5 and 10 upto 50 is :
5
15
25
35
45

In [15]:
# 
f=["vinod","kumar","100","200"]
count=0
for i in f:
    count+=1
print(count)
print(len(f))

count1=0
h="developer"
for i in h:
    count1+=1
print(count1)

4
4
9

In [1]:
#factors
n=int(input("Number: "))
print(f"Factors of {n}: ")
for i in range(1,n):
    if n%i==0:
        print(i)

Number: 10
Factors of 10:
1
2
5

In [29]:
#armstrong
n=153
org=n
digit=len(str(n))
print(digit)
summ=0
while n>0:
    rem=n%10
    summ=summ+rem**digit
    n=n//10
print(summ)
if summ==org:
    print("Armstrong.")
else:
    print("Not a Armstrong.")

3
153
Armstrong.

In [35]:
# for i in range(-10,0,1):
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [3]:
# digit count
n=int(input("Enter Number: "))
d=len(str(n))
print("Method 1: ",d)
# method 2:
count=0
while n>0:
    n=n//10
    count+=1
print("Method 2 ",count)

Enter Number: 1324
Method 1:  4
Method 2  4

In [ ]:
# Prime number check
import math
count=0
n=int(input("Enter a Number: "))
if n<=1:
    is_prime=False
if n%2==0:
    is_prime=False
else:
    is_prime=True
    for i in range(2,int(math.sqrt(n))+1):
        if n%i==0:
            is_prime=False
            break
    else:
        is_prime=True
if is_prime:
    print("Prime")
else:
    print("Not Prime")

Enter a Number: 4
Not Prime

In [20]:
#Perfect Number
n=int(input("Enetr a number: "))
org=n
s=0
for i in range(1,n):
    if n%i==0:
        s=s+i
if s==org:
    print("Perfect number.")
else:
    print("Not a perfect number.")

Enetr a number: 6
Perfect number.