In [1]:
print("hello")

hello

In [ ]:
# data types in python
#1.primitive data type (int,float,boolean,string,char)
#2.non-primitive data type(list tuple,dict,set)
#in pyhton every datatype is a class

In [7]:
a=10
print(a)
print(type(a))
print(id(a))
# type(),id() are the predefined functions

b=10

10
<class 'int'>
140705581601864

In [24]:
#binary,octal,hexadecimal
binary=0b1001001
octal=0o1234567
hexa=0xa123b23c
print(binary)
print(octal)
print(hexa)
print(type(binary))
print(type(octal))
print(type(hexa))

# type conversion
num=25
print(bin(num))
print(oct(num))
print(hex(num))

73
342391
2703471164
<class 'int'>
<class 'int'>
<class 'int'>
0b11001
0o31
0x19

In [3]:
# True = 100
print(True)

True

In [5]:
student_name=100
print(student_name)
student_Name="vinod"
print(student_Name)

100
vinod

In [17]:
#strings -->sequence of characters (OR) collection of characters
g='''good morning
welcome to python'''
#iterable the string
#string is immutable
#indexing is allow for string

'''multi line coomenting'''
print(g)
print(len(g))
print(type(g))
#length function in string
n="python"
print(n)
print(len(n))
print(n[0])
print(n[1])
print(n[2])
print(n[3])
print(n[4])
print(n[5])

good morning
welcome to python
30
<class 'str'>
python
6
p
y
t
h
o
n

In [20]:
#float datatype
n=1.2
print(type(n))
print(id(n))

num=3e1
print(num)
print(type(num))
print(id(num))

<class 'float'>
1666842072624
30.0
<class 'float'>
1666842072304

In [20]:
#boolean datatype
p1=100
p2=200
res1=p1<p2
print(res1)
res2=p2<p1
print(res2)

print(int(True))
print(int(False))

True
False
1
0

In [4]:
#complex datatype --> it contains two parts 1)real part & 2)imaginary part
v=2+3j
print(type(v))
print(v)
print(v.real)
print(v.imag)
h=2-3j #j=1
print(h.imag)
print(type(h))
k=3j
print(k.real)
print(k.imag)
print(k)

<class 'complex'>
(2+3j)
2.0
3.0
-3.0
<class 'complex'>
0.0
3.0
3j

In [35]:
#non-primitive---->list datatype
list1=[1,2,"vinod",3,True,"kumar",3e2,"vinod"]
print('data type is: ',type(list1))
print('address is:',id(list1))
print(type(list1[2]))
print(list1[6])
print(list1[2])
v=list()
print(v)
v.append(100)
print(v)
k=[1,2,2,1,3,2,1,4,5,6,6]
print('length is :',len(k))
#for loop
for x in k:
    print(k[x])

data type is:  <class 'list'>
address is: 2691559942528
<class 'str'>
300.0
vinod
[]
[100]
length is : 11
2
2
2
2
1
2
2
3
2
1
1

In [36]:
#non-primitive datatype---> tuple
import time
r=(1,2)
print('type of r is: ',type(r))
print('id: ',id(r))
time.sleep(1)
print(r)
t=2,
print(type(t))
res=([1,2,"vinod"],)
print((res[0][2]))
v=10,True,2,'vinnu',2+3j,3e1
print('type of v: ',type(v))
print('length of v:',len(v))
#v.append(100) -->tuple is immutable
print(v)

type of r is:  <class 'tuple'>
id:  2691560132032
(1, 2)
<class 'tuple'>
vinod
type of v:  <class 'tuple'>
length of v: 6
(10, True, 2, 'vinnu', (2+3j), 30.0)

In [46]:
#set --> non primitive data type
r={1,'python',3.12,2.3,1,11,1,1,1,1,1}
print((r))
print(type(r))
print(len(r))
#for x in r:
   # print(r[x])

{1, 2.3, 3.12, 'python', 11}
<class 'set'>
5

In [3]:
fire=["vinod","sai","10k coders","python","fullstack"]
import time
print(type(fire))
print(len(fire))
#print(fire[0])
for x in fire:
    print(x)
    time.sleep(2)

<class 'list'>
5
vinod
sai
10k coders
python
fullstack

In [21]:
#Dictionay datatype---->
t=dict()
print(type(t))
tt={}
print(type(tt))
v={
    'name':"ajay","mobile":9347768925,"age":21,'name':"vinod",
    1:10,2:20,3:30
}
print(v['name'])
print(len(v['name']))
time.sleep(2)
print(v)
print(len(v))
v.pop('age')
v['name']="vinnu"
print(v)
#nested dictionay is allowed
r={'ajay':{'office':9129192736,'home':89767689878},'vinod':{'clg':"nope",'hostel':"kitsw boys"}}
print(r['ajay']['office'])
print(r['vinod']['hostel'])

<class 'dict'>
<class 'dict'>
vinod
5
{'name': 'vinod', 'mobile': 9347768925, 'age': 21, 1: 10, 2: 20, 3: 30}
6
{'name': 'vinnu', 'mobile': 9347768925, 1: 10, 2: 20, 3: 30}
9129192736
kitsw boys